body{
    text-align: center;
}

#container {
    margin: 0 auto;
    max-width: 960px;
}

.row{
    border: solid #0000ff 3px;
    display: flex;
    height: 50px;
}

.column{
    background-color: lightblue;
    padding: 1rem 0;
    flex: 1;
}